<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<h1>Create Event</h1>

<form action="/events/create" method="post">
    <div class="form-group mb-3">
        <label for="eventName" class="form-label">Event Name:</label>
        <input type="text" id="eventName" name="Name" class="form-control" required>
    </div>

    <div class="form-group mb-3">
        <label for="eventDescription" class="form-label">Event Description:</label>
        <input type="text" id="eventDescription" name="Description" class="form-control" required>
    </div>

    <div class="form-group mb-3">
        <label for="contactEmail" class="form-label">Contact Email:</label>
        <input type="email" id="contactEmail" name="ContactEmail" class="form-control" required>
    </div>

    <input type="submit" value="Create Event" class="btn btn-success">
</form>

<br>
<a href="/events" class="btn btn-secondary">Back to All Events</a>
</body>
</html>
