<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="container">
<h1>Create Event</h1>
<nav th:replace="navigation :: navigation"></nav>

<form action="/events/create" method="post">
    <label for="eventName">Event Name:</label>
    <input type="text" id="eventName" name="eventName" required>

    <br><br>

    <label for="eventDescription">Event Description:</label>
    <input type="text" id="eventDescription" name="eventDescription" required>

    <br><br>

    <input type="submit" value="Create Event">
</form>

</body>
</html>
