<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="container">
<h1 th:text="${title}"></h1>
<nav th:replace="navigation :: navigation"></nav>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.name}"></td>
        <td th:text="${event.description}"></td>
    </tr>
    </tbody>
</table>

<h2>Add a New Event</h2>
<a href="/events/create">Create Event</a>

</body>
</html>
